.component.navbar-component {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  box-sizing: border-box;
  .navbar {
    display: flex;
    flex-direction: row;
    height: 64px;
    // background-color: #000;
    margin-bottom: 12px;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    align-items: center;
    .logo {
      width: 64px;
      height: 64px;
      background: url("./images/logo.png");
      background-size: cover;
    }
    .tools {
      display: flex;
      flex-direction: row;
      .item {
        margin-left: 12px;
        &.user {
        }
        &.git {
        }
        &.theme {
        }
      }
    }
  }
}
