:root[data-mantine-color-scheme="light"] {
  --mantine-color-x-0: #f6ecff;
  --mantine-color-x-1: #e6d5fc;
  --mantine-color-x-2: #caa6f4;
  --mantine-color-x-3: #ac75ee;
  --mantine-color-x-4: #934ce8;
  --mantine-color-x-5: #8332e4;
  --mantine-color-x-6: #7b24e4;
  --mantine-color-x-7: #6918cb;
  --mantine-color-x-8: #5d13b6;
  --mantine-color-x-9: #500ca0;
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-x-0: #fff8e1;
  --mantine-color-x-1: #ffefcc;
  --mantine-color-x-2: #ffdd9b;
  --mantine-color-x-3: #ffca64;
  --mantine-color-x-4: #ffba38;
  --mantine-color-x-5: #ffb01b;
  --mantine-color-x-6: #ffab09;
  --mantine-color-x-7: #e39500;
  --mantine-color-x-8: #ca8500;
  --mantine-color-x-9: #af7100;
}
