:root[data-mantine-color-scheme="light"] {
  --mantine-color-x-0: #f6ecff;
  --mantine-color-x-1: #e6d5fc;
  --mantine-color-x-2: #caa6f4;
  --mantine-color-x-3: #ac75ee;
  --mantine-color-x-4: #934ce8;
  --mantine-color-x-5: #8332e4;
  --mantine-color-x-6: #7b24e4;
  --mantine-color-x-7: #6918cb;
  --mantine-color-x-8: #5d13b6;
  --mantine-color-x-9: #500ca0;
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-x-0: #ffe8e8;
  --mantine-color-x-1: #ffcfcf;
  --mantine-color-x-2: #ff9b9c;
  --mantine-color-x-3: #ff6464;
  --mantine-color-x-4: #fe3837;
  --mantine-color-x-5: #fe1b19;
  --mantine-color-x-6: #ff0909;
  --mantine-color-x-7: #e40000;
  --mantine-color-x-8: #cb0000;
  --mantine-color-x-9: #b10000;
}
